<?xml version="1.0" encoding="UTF-8" ?>
<phpunit colors="true" verbose="true" bootstrap="vendor/autoload.php">
    <testsuites>        
        <testsuite name="largestnumber">
            <directory suffix="Test.php">tests/largestnumber</directory>
        </testsuite>
    </testsuites>
    
</phpunit>
